@font-face {
    font-family: CerebriSans-bold;
    src: url(../fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.ttf);
}
@font-face {
    font-family: CerebriSans-regular;
    src: url(../fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf);
}

