/* start contact  */
.contact .contact__info .box-icon {
    padding-inline-end: 20px;
    font-size: 32px;
    color: var(--main-color);
}

.contact .contact__info .box-caption h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
}

.contact .contact__info .box-caption p {
    font-size: 15px;
    color:var(--third-color);
    margin-bottom: 3px;
}

.contact .contact__info .box-caption p span {
    font-weight: 700;
    color: var(--second-color);
}

/* end contact  */

/* start ask  */
.ask .ask-box {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
}
.ask .ask-box .btn{
    padding: 12px 41px;
}
/* end ask  */